# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages for Data Science
- List commonly used librairies used by Data scientist
- List of some data science tools
- Introducing arithmetic expression
- Multiply and add numbers

## Author 

ADJALLA Mylena

Some of the popular languages that Data Scientists use are:
1. Python
2. Javascript
3. R
4. SQl

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly

| Data Science Tools |
| -------------| 
| Jupyter Notebooks |
| Anaconda | 
| Visual studio code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
a

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

minute= 200
hour= minute / 60
hour

3.3333333333333335